<footer>
    <p>  created by <i class="fa-solid fa-heart" style="color: #fd1808;"></i> 
   <span style="color: rgb(108,99,255); font-size:4rem"> Mohit Agrawal </span> 
        <span style="float: right; margin-right:12rem">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;connect with me : 
            <i class="fa-brands fa-instagram fa-xl" style="color: #e60a62;"></i>
            <i class="fa-brands fa-whatsapp fa-xl" style="color: #07ed35;"></i>
            <i class="fa-brands fa-facebook fa-xl"></i>
            <i class="fa-brands fa-linkedin fa-xl" style="color: #0fafff;"></i>
            <i class="fa-brands fa-twitter" style="color: #74C0FC;"></i>
        </span>
    </p>
</footer>